@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Elms Sans", sans-serif;
    color: var(--Navy200);
}

:root {
    --Purple600: hsl(246, 80%, 60%);
    --social: hsl(264, 64%, 52%);
    --Navy950: rgb(15, 20, 36);
    --Navy900: rgb(28, 31, 74,0.5);
    --Purple500: hsl(235, 45%, 61%);
    --Navy200: hsl(236, 100%, 87%);
}

body{
    min-height: 100vh;
    background-color: var(--Navy950);
    margin: 5em 5em;
}


.main-container{
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2em 2em;
    background-color: var(--Navy900);
    display: grid;
    grid-template-columns: auto-fit minmax(250px,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'box-1 box-1 box-2 box-2'
    'box-3 box-4 box-5 box-5'
    'box-3 box-4 box-5 box-5'
    'box-3 box-4 box-6 box-6'
    'box-7 box-7 box-8 box-8'
    'box-9 box-10 box-11 box-12'
    'box-9 box-10 box-11 box-12';
    gap: 1em;
}

.box{
    min-width: 250px;
    min-height: 250px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}